<app-header></app-header>
<main>
  <h1>Animes recomendados</h1>
  <section>
    <img src="../../assets/jojo.jpg" alt="jojo" />
    <img src="../../assets/chainsaw.jpg" alt="chainsaw man"/>
    <img src="../../assets/cyberpunk.jpg" alt="cyberpunk"/>
    <img
      src="../../assets/demonSlayer.webp"
      alt="demon slayer"
      height="250px"
    />
    <img src="../../assets/jujutsu.webp" alt="jujutsu kaisen" />
  </section>

  <h1>Lorem Ipsum</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at felis
    fermentum est faucibus mattis. Ut et erat purus. Aliquam erat volutpat. Orci
    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
    mus. Aliquam ac est at arcu aliquet tincidunt. Sed diam nisi, vulputate eu
    sagittis vitae, dapibus in arcu. Donec nec dapibus turpis. Integer consequat
    pretium tempor.
  </p>
  <p>
    Cras ac ante sapien. Nunc tincidunt eros tortor. Suspendisse tincidunt
    mauris quis leo tempus facilisis ac dapibus purus. Nunc accumsan ante vitae
    tellus elementum, non interdum arcu lobortis. Aliquam sed elit eget dui
    mattis convallis. Pellentesque vitae turpis suscipit, finibus nibh eget,
    sodales ex. Ut risus sem, lacinia vel ante et, consequat tincidunt lectus.
    In cursus viverra diam vel feugiat. Vivamus iaculis, mi sit amet pharetra
    auctor, nulla eros iaculis velit, in cursus dolor metus id purus. Nullam
    nunc orci, hendrerit sit amet ante a, interdum condimentum libero. Curabitur
    convallis leo turpis, et placerat nisi aliquet pulvinar. Cras laoreet sem
    tortor, in suscipit enim luctus id. Etiam sed eros at felis maximus finibus.
    Donec eros nisl, aliquam in tortor quis, sodales accumsan massa.
  </p>
</main>

<app-footer></app-footer>
